@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-gray: #282828;
  --secondary-red: #ff0044;
  --tertiary-color: #0056b3;
  --text-color: #FFF;
  --background-color: #222222;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

input,
label {
  display: block;

}

input {
  margin-bottom: 1rem;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--primary-gray);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}

.red-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: var(--secondary-red);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.red-button:hover {
  background-color: #d4002f
}

.black-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-gray);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.black-button:hover {
  background-color: #434343
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.hero-section-text {
  flex: 1;
}

.hero-section-text h1 {
  font-size: 2em;
}

.hero-section-image img {
  width: 100%;
  max-width: 500px;
}